<div class="container">
  <h1>Movie lists</h1>

    <div id="lists">
      <ul>
        <% @lists.each do |list| %>
          <li><%= link_to list.name, list_path(list) %></li>
        <% end %>
      </ul>
    </div>

  <%= link_to "Add a new list", new_list_path %>
</div>
